{{ form_start(form) }}
    <div class="form-group">
        <label for="code-input" class="form-label">Код курса</label>
        {{ form_widget(form.code, {'attr': {'id': 'code-input', 'class': 'form-control'}}) }}
        {{ form_errors(form.code) }}
    </div>
    <div class="form-group">
        <label for="name-input" class="form-label">Наименование курса</label>
        {{ form_widget(form.name, {'attr': {'id': 'name-input', 'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        <label for="description-input" class="form-label">Описание курса</label>
        {{ form_widget(form.description, {'attr': {'id': 'description-input', 'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <button class="btn btn-dark">{{ button_label|default('ОК') }}</button>
{{ form_end(form) }}
