{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Курсы</h1>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-dark mb-4 mt-2" id="add-btn" href="{{ path('course_new') }}">Добавить</a>
        {% endif %}

        <div class="row">
            <div class="col">
                {% if coursesData|length %}
                <div class="d-flex flex-row flex-wrap">
                    {% for i in coursesData|keys %}
                        <div class="card mr-2 mb-2" data-code="{{ coursesData[i].billing.code }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ coursesData[i].content.name }}</h5>
                                {% if coursesData[i].billing.owned %}
                                    {% if coursesData[i].billing.type == 'rent' %}
                                        <h6 class="card-subtitle mb-2 text-primary own-status">Арендовано
                                            {% if coursesData[i].billing.ownedUntil %}
                                                до {{ coursesData[i].billing.ownedUntil | date('d.m') }}
                                            {% endif %}
                                        </h6>
                                    {% else %}
                                        <h6 class="card-subtitle mb-2 text-success own-status">Приобретено</h6>
                                    {% endif %}
                                {% else %}
                                    <h6 class="card-subtitle mb-2 text-warning own-status">
                                        {{ coursesData[i].billing.price == 0 ? 'Бесплатно' : coursesData[i].billing.price|round(2, 'ceil') ~ ' Р' }}
                                    </h6>
                                {% endif  %}
                                <p class="card-text">{{ coursesData[i].content.description }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('course_show', {'id': coursesData[i].content.id}) }}" class="card-link text-dark">Просмотр</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <h4 class="text-center">Курсы еще не добавлены</h4>
                {% endif %}
            </div>
        </div>

{% endblock %}
