{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Курсы</h1>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-dark mb-4 mt-2" href="{{ path('course_new') }}">Добавить</a>
        {% endif %}

        <div class="row">
            <div class="col">
                {% if courses|length %}
                <div class="d-flex flex-row flex-wrap">
                    {% for i in courses|keys %}
                        <div class="card mr-2 mb-2" data-code="{{ courses[i].code }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ courses[i].name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ prices[i].price == 0 ? 'Бесплатно' : prices[i].price|round(2, 'ceil') ~ ' Р' }}</h6>
                                <p class="card-text">{{ courses[i].description }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('course_show', {'id': courses[i].id}) }}" class="card-link text-dark">Просмотр</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <h4 class="text-center">Курсы еще не добавлены</h4>
                {% endif %}
            </div>
        </div>

{% endblock %}
