{% extends 'base.html.twig' %}

{% block title %}Курс "{{ course.name }}"{% endblock %}

{% block body %}
    <h1>Курс "{{ course.name }}"</h1>

    <h5>Наименование</h5>
    <p>{{ course.name }}</p>

    <h5>Описание</h5>
    <p>{{ course.description }}</p>



    <h3>Действия</h3>

    <a class="btn btn-secondary mt-2" href="{{ path('course_index') }}">Назад к списку курсов</a><br>

{% endblock %}
