{{ form_start(form) }}
    <div class="form-group">
        <label for="name-input" class="form-label">Наименование</label>
        {{ form_widget(form.name, {'attr': {'id': 'name-input', 'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        <label for="index-number-input" class="form-label">Номер урока</label>
        {{ form_widget(form.indexNumber, {'attr': {'id': 'index-number-input', 'class': 'form-control'}}) }}
        {{ form_errors(form.indexNumber) }}
    </div>
    <div class="form-group">
        <label for="content-input" class="form-label">Содержание урока</label>
        {{ form_widget(form.content, {'attr': {'id': 'content-input', 'class': 'form-control', 'style': 'min-height: 300px;'}}) }}
        {{ form_errors(form.content) }}
    </div>

    <button class="btn btn-dark">{{ button_label|default('ОК') }}</button>
{{ form_end(form) }}
